@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html,
body {
  margin: 0;
  background: #000;
}

@keyframes starBounce {
  0%,
  100% {
    transform: translateY(0) rotate(-5deg);
  }
  50% {
    transform: translateY(-10px) rotate(5deg);
  }
}

.star-bounce {
  animation: starBounce 2s ease-in-out infinite;
}
