@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes starBounce {
  0%,
  100% {
    transform: translateY(0) rotate(-5deg);
  }
  50% {
    transform: translateY(-10px) rotate(5deg);
  }
}

.star-bounce {
  animation: starBounce 2s ease-in-out infinite;
}
